img{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 520px;
    width: 100%;
}
.sectent{
   font-family: Yu Gothic Medium;
   font-size: 1.7em;
   display: block;/*让元素以块级元素的方式显示*/
   font-weight:normal;/*设置字体粗细*/;
   color: rgb(255,255,255);
   margin-top:0px;
   margin-bottom: 0px;
   position: relative;
   top:-198px ;
   left: 213px;
}
.box{
  /*padding-top: 12px;
  padding-bottom: 10px;*/
  height: 93px;
  width: 100%;
 /* background-color: #165eb1(22, 94, 177, 0.5);  /* 设置蓝色背景，透明度为 0.5 */
  background-color: rgba(0, 19, 55, 0.6);  /* 设置蓝色背景，透明度为 0.6 */
  position: relative;
  top:-109px;
  left: 0;
}
.sectent1{
  font-family:Lora, "Noto Sans JP", serif;
  font-family:sans-serif;
  color: rgb(0,32,91);
  display: block;/*让元素以块级元素的方式显示*/ 
  /*font-weight:bold;
  font-size: 24px;*/
  border-left-color: rgb(0,32,91);
  border-top-color: rgb(0,32,91);
  border-right-color: rgb(0,32,91);
  position: relative;
  top:-140px;
  left: 660px;
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}
html{
  background-color: rgb(16,18,20,0.15);
}
.bigbox{
  width: 1300px;
  height: 90px;
  background-color: rgb(255,255,255);
  display: block;
  position: relative;
  top:-135px;
  left: 130px;
  margin-bottom: 0px;
}
.bigbox1{
  width: 1300px;
  height: 90px;
  background-color: rgb(255,255,255);
  display: block;
  position: relative;
  left: 130px;
  top:-135px;
  margin-bottom: 0px;
}